@tailwind base;
@tailwind components;
@tailwind utilities;

textarea:focus,
input:focus {
  outline: none !important;
}

::-webkit-scrollbar {
  background-color: brown;
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: brown;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3ab7bf;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
